@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.main{
	@extend .row;
	padding-top:50px;
}

.left_bar{
	@extend .col-lg-2;
	@extend .col-md-1;
}
.right_bar{
	@extend .col-lg-2;
	@extend .col-md-4;
	@extend .col-xs-12;
}

.container_sport {
	@extend .col-lg-6;
	@extend .col-md-8;
	@extend .col-xs-12;
}

///////HEADLINES/////////
.headline{
	@extend .row;
}
.headline-img{
	@extend .col-lg-8;
	@extend .col-md-8;
	@extend .col-xs-8;
	height: 250px;
}
.headline-title{
	font-size:24px;
	text-decoration: none;
}
.headline-description{
	font-size:16px;
}


///////////FEED///////////
.feeds_sport {
	width: 25%;
	float: left;
}

.news_block {
	width: 80%;
	height: 300px;
}

.feed_img {
	height: 125px;
	width: 100%;
}

.feed_description {
	padding-top: 10px;
}

.feed_title {
	font-size:16px;
	padding-top: 10px;
}

.feed_title:link {
	font-size: 16px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.feed_title:visited {
	font-size: 16px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.feed_title:hover {
	font-size: 18px;
	text-decoration: none;
	color: blue;
}