.container_sport {
	width: 80%;	
}

.feeds_sport {
	width: 20%;
	float: left;
}

.news_block {
	width: 250px ;
	height: 450px;
	
	
}

.feed_img {
	height: 150px;
	width: 250px;
}

.feed_description {
	padding-top: 10px;
}

.feed_title {
	padding-top: 10px;
}

.feed_title:link {
	font-size: 23px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.feed_title:visited {
	font-size: 23px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.feed_title:hover {
	text-decoration: underline;
	color: red;
}